<div class="contents">
  <h1>詳細</h1>
  <%= @date.strftime("%Y年%m月%d日") %>
  
  <table border="1" width="40%">
    <thead>
      <tr>
        <th>日付</th>
        <th>収入/分類</th>
        <th>収入</th>
        <th>出費/分類</th>
        <th>出費</th>
        <th>編集</th>
        <th>削除</th>
      </tr>
    </thead>
    <tbody>
      <tr align="center">
        <td><%= @may_date.created_at.strftime("%m月%d日") %></td>
        <td><%= @may_date.income_category %></td>
        <td><%= @may_date.income %></td>
        <td><%= @may_date.pay_category %></td>
        <td><%= @may_date.pay %></td>
        <td><%= link_to ">", edit_may_date_path %></td>
        <td><%= link_to "×", "/may_dates/#{@may_date.id}/destroy", {method:"delete"} %></td>
      </tr>
    </tbody>
  </table>
</div>