<div class="contents">
  <h1>詳細</h1>
  <table border="1" width="40%">
    <thead>
      <tr>
        <th>日付</th>
        <th>収入/分類</th>
        <th>収入</th>
        <th>出費/分類</th>
        <th>出費</th>
        <th>編集</th>
        <th>削除</th>
      </tr>
    </thead>
    <tbody>
      <tr align="center">
        <td><%= @feb_date.created_at.strftime("%m月%d日") %></td>
        <td><%= @feb_date.income_category %></td>
        <td><%= @feb_date.income %></td>
        <td><%= @feb_date.pay_category %></td>
        <td><%= @feb_date.pay %></td>
        <td><%= link_to edit_feb_date_path do %><i class="fas fa-angle-right fa-lg"></i><% end %></td>
        <td><%= link_to "/feb_dates/#{@feb_date.id}/destroy", {method:"delete"} do %><i class="fas fa-trash"></i><% end %></td>
      </tr>
    </tbody>
  </table>
</div>