<div class="contents">
  <h1>編集</h1>
  <%= @date.strftime("%Y年%m月%d日") %>

  <%= form_tag ("/nov_dates/#{@nov_date.id}/update") do %>
    <%= @nov_date.created_at.strftime("%m月%d日") %>
    <%= label_tag :収入 %>
    <%= select_tag :income_category,
                options_for_select(["給料","手当て","小遣い","ボーナス","その他"],
                selected: @nov_date.income_category ),
                include_blank: true %>
    <%= label_tag :金額 %>
    <%= number_field_tag :income, value = @nov_date.income %>円
    <%= label_tag :出費 %>
    <%= select_tag :pay_category, 
                options_for_select(["食費","交際費","習い事","交通費","娯楽","生活費","衣服","美容","健康","光熱費","慶弔費","その他"],
                selected: @nov_date.pay_category ),
                include_blank: true %>
    <%= label_tag :金額 %>
    <%= number_field_tag :pay, value = @nov_date.pay %>円
    <%= submit_tag "変更" %>
  <% end %>
</div>