<header>
  <div class="header-logo">
    <%= link_to"HOME", root_path %>
  </div>
  <div class="header-list">
    <ul>
      <li><%= link_to"login", new_user_session_path %></li>
      <li><%= link_to"signin", new_user_registration_path %></li>
      <li><%= link_to"signout", destroy_user_session_path %></li>
      <li><%= link_to"Home/index", home_index_path %></li>
    </ul>
  </div>
</header>
<h1>NovDates#index</h1>
<p>Find me in app/views/nov_dates/index.html.erb</p>

<h3><%= link_to("収入", "/nov_dates/income") %></h3>
<h3><%= link_to("出費","/nov_dates/pay") %></h3>

<%= @date.strftime("%Y年%m月%d日") %>

<table border="1" width="40%">
  <thead>
    <tr>
      <th>日付</th>
      <th>収入/分類</th>
      <th>収入</th>
      <th>出費/分類</th>
      <th>出費</th>
      <th>詳細</th>
    </tr>
  </thead>
  <tbody>
  <% @nov_dates.each do |nov_date| %>
    <tr align="center">
      <td><%= nov_date.created_at.strftime("%m月%d日") %></td>
      <td><%= nov_date.income_category %></td>
      <td><%= nov_date.income %></td>
      <td><%= nov_date.pay_category %></td>
      <td><%= nov_date.pay %></td>
      <td><%= link_to "＞", nov_date_path(nov_date) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<h3>収入：<%= @income_total %>円　-　出費：<%= @pay_total %>円　＝　貯金：<%= @money_total %>円</h3>

<h2>出費/分類、円グラフ</h2>
<%= pie_chart @chart_date %>