<header>
  <div class="header-logo">
    <%= link_to"HOME", root_path %>
  </div>
  <div class="header-list">
    <ul>
      <li><%= link_to"login", new_user_session_path %></li>
      <li><%= link_to"signin", new_user_registration_path %></li>
      <li><%= link_to"signout", destroy_user_session_path %></li>
      <li><%= link_to"Home/index", home_index_path %></li>
    </ul>
  </div>
</header>
<h1>show</h1>
<table border="1" width="40%">
  <thead>
    <tr>
      <th>日付</th>
      <th>収入/分類</th>
      <th>収入</th>
      <th>出費/分類</th>
      <th>出費</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
  </thead>
  <tbody>
    <tr align="center">
      <td><%= @jul_date.created_at.strftime("%m月%d日") %></td>
      <td><%= @jul_date.income_category %></td>
      <td><%= @jul_date.income %></td>
      <td><%= @jul_date.pay_category %></td>
      <td><%= @jul_date.pay %></td>
      <td><%= link_to ">", edit_jul_date_path %></td>
      <td><%= link_to "×", "/jul_dates/#{@jul_date.id}/destroy", {method:"delete"} %></td>
    </tr>
  </tbody>
</table>