<header>
  <div class="header-logo">
    <%= link_to"HOME", home_index_path %>
  </div>
  <div class="header-list">
    <ul>
      <li>user_name : <%= link_to current_user.user_name, edit_user_registration_path %></li>
      <li><%= link_to"logout", destroy_user_session_path, method: :delete %></li>
    </ul>
  </div>
</header>
<h1>Home#index</h1>

<table border="1" width="30%">
  <tr align="center">
    <td><%= link_to("１月", "/jan_dates/index") %></td>
    <td><%= link_to("２月", "/feb_dates/index") %></td>
    <td><%= link_to("３月", "/mar_dates/index") %></td>
  </tr>
  <tr align="center">
    <td><%= link_to("４月", "/apr_dates/index") %></td>
    <td><%= link_to("５月", "/may_dates/index") %></td>
    <td><%= link_to("６月", "/jun_dates/index") %></td>
  </tr>
  <tr align="center">
    <td><%= link_to("７月", "/jul_dates/index") %></td>
    <td><%= link_to("８月", "/aug_dates/index") %></td>
    <td><%= link_to("９月", "/sep_dates/index") %></td>
  </tr>
  <tr align="center">
    <td><%= link_to("１０月", "/oct_dates/index") %></td>
    <td><%= link_to("１１月", "/nov_dates/index") %></td>
    <td><%= link_to("１２月", "/dec_dates/index") %></td>
  </tr>
</table>

<h2>貯金グラフ</h2>
<%= column_chart @chart_date %>