<header>
  <div class="header-logo">
    <%= link_to"HOME", root_path %>
  </div>
  <div class="header-list">
    <ul>
      <li><%= link_to"login", new_user_session_path %></li>
      <li><%= link_to"signin", new_user_registration_path %></li>
      <li><%= link_to"account", edit_user_registration_path %></li>
      <li><%= link_to"logout", destroy_user_session_path, method: :delete %></li>
      <li><%= link_to"Home/index", home_index_path %></li>
    </ul>
  </div>
</header>
<div class="main">
  <div class="copy-container">
    <h1>家計簿アプリ</h1>
    <p>ruby on rails/gem devise/gem chartkick</p>
  </div>
  <div class="image">
    <img src="assets/image1.png">
  </div>
</div>