<header>
  <div class="header-logo">
    <%= link_to"HOME", root_path %>
  </div>
  <div class="header-list">
    <ul>
      <li><%= link_to"login", new_user_session_path %></li>
      <li><%= link_to"signin", new_user_registration_path %></li>
      <li><%= link_to"signout", destroy_user_session_path %></li>
      <li><%= link_to"Home/index", home_index_path %></li>
    </ul>
  </div>
</header>
<h1>income</h1>
<%= @date.strftime("%Y年%m月%d日") %>

<%= form_tag ("/mar_dates/create") do %>
  <%= label_tag :分類 %>
  <%= select_tag :income_category, 
      options_for_select(["給料","手当て","小遣い","ボーナス","その他"]) %>
  <%= label_tag :金額 %>
  <%= number_field_tag :income %>円
  <%= submit_tag "追加" %>
<% end %>