<div class="contents">
  <h1>６月</h1>
  <h3>収入：<%= link_to "/jun_dates/income" do %><i class="fas fa-money-check"></i><% end %></h3>
  <h3>出費：<%= link_to "/jun_dates/pay" do %><i class="fas fa-yen-sign"></i><% end %></h3>

  <%= @date.strftime("%Y年%m月%d日") %>
  
  <table border="1" width="40%">
    <thead>
      <tr>
        <th>日付</th>
        <th>収入/分類</th>
        <th>収入</th>
        <th>出費/分類</th>
        <th>出費</th>
        <th>詳細</th>
      </tr>
    </thead>
    <tbody>
    <% @jun_dates.each do |jun_date| %>
      <tr align="center">
        <td><%= jun_date.created_at.strftime("%m月%d日") %></td>
        <td><%= jun_date.income_category %></td>
        <td><%= jun_date.income %></td>
        <td><%= jun_date.pay_category %></td>
        <td><%= jun_date.pay %></td>
        <td><%= link_to jun_date_path(jun_date) do %><i class="fas fa-angle-right fa-lg"></i><% end %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <h3>収入：<%= @income_total %>円　-　出費：<%= @pay_total %>円　＝　貯金：<%= @money_total %>円</h3>
  
  <h2>出費/分類、円グラフ</h2>
  <div class="contents-chart">
    <%= pie_chart @chart_date %>
  </div>
</div>