<header>
  <div class="header-logo">
    <%= link_to"HOME", home_index_path(current_user.id) %>
  </div>
</header>
<h1>show</h1>
<%= @date.strftime("%Y年%m月%d日") %>

<table border="1" width="40%">
  <thead>
    <tr>
      <th>日付</th>
      <th>収入/分類</th>
      <th>収入</th>
      <th>出費/分類</th>
      <th>出費</th>
      <th>編集</th>
      <th>削除</th>
    </tr>
  </thead>
  <tbody>
    <tr align="center">
      <td><%= @apr_date.created_at.strftime("%m月%d日") %></td>
      <td><%= @apr_date.income_category %></td>
      <td><%= @apr_date.income %></td>
      <td><%= @apr_date.pay_category %></td>
      <td><%= @apr_date.pay %></td>
      <td><%= link_to ">", edit_apr_date_path %></td>
      <td><%= link_to "×", "/apr_dates/#{@apr_date.id}/destroy", {method:"delete"} %></td>
    </tr>
  </tbody>
</table>