<div class="contents">
  <h1>８月</h1>
  <h3>収入：<%= link_to "/aug_dates/income" do %><i class="fas fa-money-check"></i><% end %></h3>
  <h3>出費：<%= link_to "/aug_dates/pay" do %><i class="fas fa-yen-sign"></i><% end %></h3>
  
  <%= @date.strftime("%Y年%m月%d日") %>
  
  <table border="1" width="40%">
    <thead>
      <tr>
        <th>日付</th>
        <th>収入/分類</th>
        <th>収入</th>
        <th>出費/分類</th>
        <th>出費</th>
        <th>詳細</th>
      </tr>
    </thead>
    <tbody>
    <% @aug_dates.each do |aug_date| %>
      <tr align="center">
        <td><%= aug_date.created_at.strftime("%m月%d日") %></td>
        <td><%= aug_date.income_category %></td>
        <td><%= aug_date.income %></td>
        <td><%= aug_date.pay_category %></td>
        <td><%= aug_date.pay %></td>
        <td><%= link_to aug_date_path(aug_date) do %><i class="fas fa-angle-right fa-lg"></i><% end %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <h3>収入：<%= @income_total %>円　-　出費：<%= @pay_total %>円　＝　貯金：<%= @money_total %>円</h3>
  
  <h2>出費/分類、円グラフ</h2>
  <div class="contents-chart">
    <%= pie_chart @chart_date %>
  </div>
</div>